<nav class="navbar navbar-light" style="background-color: #e3f2fd;">
  <a class="navbar-brand">
    <img class="logo" src="https://raw.githubusercontent.com/DiLeyRa/red-social-angular/master/src/images/logo.png" alt="">
  </a>
  <form class="form-inline">
    <a class="nav-item nav-link font-weight-bold" href="#" routerLink="/login" *ngIf="!isLogin">Log In</a>
    <a class="nav-item nav-link font-weight-bold" href="#" routerLink="/register" *ngIf="!isLogin">Registration</a>
    <a class="nav-item nav-link font-weight-bold" *ngIf="isLogin">
      <img src="{{ photo }}" class="rounded-circle">
    </a>
    <a class="nav-item nav-link font-weight-bold">
      {{ nameUser }}
    </a>
    <a class="nav-item nav-link font-weight-bold fa fa-sign-out" href="#" *ngIf="isLogin" (click)="onClickLogout()"> Log Out</a>
  </form>
</nav>